body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    width: 100%;
}

a {
    text-decoration: none;
}

.client-information__button, .about-us__button,
.price__button {
    font: inherit;
    text-align: center;
    color: #FFF;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #ffbb42;
    border: none;
    height: 45px;
    padding: 10px 40px;
    box-sizing: border-box;
    border: 1px solid #e7ad48;
}

.header__list, .services__list, .price__list,
.how-works__list, .how-works__list-two {
    list-style: none;
}

.upper {
    text-transform: uppercase;
}

.banner__text, .about-us__title_white, 
.about-us__text_white, .happy-clients__title_white,
.happy-clients__subtitle_white  {
    color: white;
}

.text_center {
    text-align: center;
}

.header__link:hover {
    background-color: #ffbb42;
    color: white;
    height: 45px;
    /* width: 100px; */
    box-sizing: border-box;
    padding: 10px 10px;
}

.banner {
    background-color: #709dca;
    height: 590px;
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    margin-bottom: 150px;
}

.banner__title {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding-top: 100px;
    margin-bottom: -10px;
}

.services__title, .about-us__title, .price__title,
.how-works__title, .happy-clients__title, .newsletter__title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.services__subtitle, .price__subtitle,
.how-works__subtitle, .happy-clients__subtitle,
.newsletter__subtitle {
    margin-top: -10px;
    text-align: center;
}

h3, h4, h5 {
    text-transform: uppercase;
}

h4 {
    font-size: 25px;
    font-weight: 300;
}
h5 {
    font-size: 20px;
}

.client-information__item {
    background: url('../img/fullname.png') left no-repeat;
}

/* Сеточные стили */
body {
width: 100%;
}

.header__list {
    min-height: 100px;
    display: flex;
    justify-content: center;
}

.header__item {
    width: 11%;
}

.header__logo {
    padding-right: 80px;
}

.client-information {
    margin-top: 25px;
}

.client-information__field {
    width: 220px;
    height: 40px;
    padding: 0 40px;
}

.client-information__field_name {
    background: url(../img/fullname.png) no-repeat white;
    background-position: 10px 15px;
}

.client-information__field_mail {
    background: url(../img/email.png) no-repeat white;
    background-position: 10px 15px;
}

.client-information__field_phone {
    background: url(../img/phone.png) no-repeat white;
    background-position: 10px 15px;
}

.sliderL {
    width: 650px;
    height: 350px;
    position: relative;
    text-align: center;
}

.sliderL > input {
    display: none;
}

.sliderL > input + label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background: rgba(250, 250, 250, 0.8);
    border: 2px solid rgba(99, 176, 240, 0.8);
    cursor: pointer;

    z-index: 100;
    position: relative;

    margin-right: 4px;
    top: 400px;
}

.sliderL > input + label:hover {
    background: rgba(90, 90, 90, 0.8);
}

.sliderL > input:checked + label {
    background: rgba(220, 220, 220, 0.8);
} 

.sliderL > div {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
}

.sliderL div {
    visibility: hidden;
    opacity: 0;
}

.sliderL > input:checked + label + div {
    visibility: visible;
    opacity: 1;
}

.services__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.service__item {
    width: 28%;
    padding: 20px 70px;
}

.service__item_font {
    background: url(../img/font.png) no-repeat white;
    background-position: 0px 35px;
}

.service__item_fully {
    background: url(../img/fully.png) no-repeat white;
    background-position: 0px 35px;
}

.service__item_working {
    background: url(../img/working.png) no-repeat white;
    background-position: 0px 35px;
}

.service__item_retina {
    background: url(../img/retina.png) no-repeat white;
    background-position: 0px 35px;
}

.service__item_friendly {
    background: url(../img/friendly.png) no-repeat white;
    background-position: 0px 35px;
}

.service__item_flat {
    background: url(../img/flat.png) no-repeat white;
    background-position: 0px 35px;
}

.about-us {
    background-color: #ffbb42;
    height: 623px;
    display: flex;
    justify-content: center;
}

.about-us__picture, .about-us__description {
    max-width: 650px;
    width: 100%;
    height: 623px;
}

.about-us__description {
    /* max-width: 550px; */
    padding: 50px 100px 50px 70px;
}

.price {
    height: 895px;
    background-color: #e7edf3;
    margin-bottom: 100px;
}

.price__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-plan {
    width: 385px;
    height: 435px;
    background-color: white;
    text-align: center;
    padding: 20px 10px;
    margin-top: 50px;
}

.price h2 {
    margin-top: 0;
    padding-top: 100px;
}

.price-plan p, h4, a, h5 {
    text-align: center;
}

.price-plan a {
    margin-top: 30px;
}

.price-plan__price {
    font-size: 45px;
    color: #ffbb42;
    margin-bottom: 0px;
}

.price-plan:hover {
    background-color: #709dca;
    color: white;
    padding: 50px 10px;
}

.how-works__image {
    width: 13%;
    padding-left: 50px;     
}

.how-works__item {
    width: 20%;
    /* padding: 75px 25px; */
}

.how-works__list {
    display: flex;
    justify-content: space-between;
    padding: 90px 100px;
}

.how-works__list-two {
    display: flex;
    justify-content: space-between;
}

.wrap-button {
    display: flex;
    margin-top: 80px;
    margin-bottom: 100px;
}

.wrap-button .client-information__button {
    /* height: 40px; */
    margin: auto;
}

.happy-clients {
    padding-top: 135px;
    max-height: 900px;
    background-color: #ffc155;
    margin-bottom: 80px;
}

.happy-clients__quotes {
    font-size: 25px;
    font-weight: lighter;  
}

.happy-client {
    box-sizing: border-box;
    width: 565px;
    height: 240px;
    background-color: #FFF;
    padding: 30px 20px;
}

.happy-client__feedback {
    width: 340px;
    margin-left: 170px;
}

.happy-client_project {
    background: url(../img/fotoone.png) no-repeat white;
    background-position: 5% 30%;
}

.happy-client_creative {
    background: url(../img/fototwo.png) no-repeat white;
    background-position: 5% 30%;
}

.happy-client_lipsum {
    background: url(../img/fotothree.png) no-repeat white;
    background-position: 5% 30%;
}

.happy-client_manager {
    background: url(../img/fotofour.png) no-repeat white;
    background-position: 5% 30%;
}

.text_red {
    color: red;
}

.wrap-happy-client {
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.newsletter {
    max-height: 940px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 50px;
}

.map {
    width: 1100px;
    height: 550px;
    background: url(../img/map.png) no-repeat top / cover;
    margin: 0 auto; 
    margin-top: 50px;

}

.address {
    width: 270px;
    height: 230px;
    padding-top: 40px;
    border-radius: 50%;
    line-height: 16px;
    color: white;
    margin: 50px auto 15px;
    text-align: center;
    background-color: #394b50;
    position: relative;
}

.address::after {
    content: '';
    border: 15px solid transparent;
    border-top: 15px solid #394b50;
    position: absolute;
    left: 120px; bottom: -28px;
}

.text_yellow {
    color: yellow;
}

.footer__list, .footer__social {
    list-style: none;
}

.footer__list {  
    display: flex;
    justify-content: center;
}

.footer__item {
    width: 10%;
}

.footer__phone {
    font-size: 25px;
}
.footer__social, .footer__phone {
    display: flex;
    justify-content: center;
}

.footer__point {
    width: 4%;
}

.footer__panel {
    /* height: 45px; */
    background-color: #709dca;
    color: white;
    text-align: center;
    padding: 25px 0;
}





