body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 14px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  outline: none; }

.container {
  margin: 0 auto;
  max-width: 970px;
  width: 100%; }

.header {
  background: url(../img/background.jpg) no-repeat;
  min-height: 680px; }
