body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 14px; 
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
} 

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: gray;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

@font-face {
    font-family: 'BigNoodleTitling';
    src: url('../fonts/big_noodle_titling.ttf') format('ttf');
}

h1, h2, h3 {
    text-align: center;
}

.about {
    padding-bottom: 110px;
}
.title {
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
}

.title__main {
    font-size: 48px;
}

.title__text {
    width: 100%;
    max-width: 525px;
    margin: 0 auto;
}

.about__item, .features__item {
    text-align: center;
}

.about__text {
    padding: 15px 35px;
    text-align: center;
    color: #7a6e6e;
}

.about__icon {
    margin-bottom: 20px;
    color: #f15324;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

p {
    font-family: Roboto;
    font-weight: lighter;
}

header {
    background-color: #f8f6f6;
    font-size: 40px;
    color: #746868;
    padding: 50px 0;
}

header a {
    color: black;
}

.think {
    background-color: #353535;
    color: white;
    text-align: center;
}

.think__title {
    font-size: 72px;
    margin-top: 300px;
}

.think__subtitle {
    font-size: 36px;
    margin-bottom: 160px;
}

.watch__behind {
    background-color: #171f23;
    padding: 100px;
}

.watch__title {
    color: white;
    font-family: Roboto;
    font-weight: 700;
}

.watch__video {
    background: url(../img/girl.jpg) no-repeat;
}

.watch__text {
    color: #696969;
    text-align: center;
}

.watch__btn {
    display: block;
    margin: 0 auto;
    background-color: #e64e40;
    margin-top: 40px;
    width: 130px;
    height: 35px;
    border: 0;
}

.watch__icon {
    display: block;
    font-size: 100px;
    color: white;
    margin: 160px auto;
    text-align: center;
    
}
.projects {
    flex-wrap: wrap;
}
.projects__item {
    font-family: Roboto;
}
.projects__item a:hover {
    font-weight: 700;
    color: black;
    border-bottom: 1px solid red;
}

.works__red {
    background-color: #e84c3d;
    height: 520px;
    margin-top: 25px;
}

.clients {
    background: #1c1c1c;
    padding-top: 100px;
    padding-bottom: 90px;
}

/* .clients__size {
    width: 150px;
    height: 60px;
} */

.who__left {
    padding: 70px;
    text-align: center;
    background-color: #ebebeb;
    border-right: 20px solid white;
    margin-bottom: 100px;
}
.who__photo {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #ef6b50;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.who__profession {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 100;
}

.who__skills {
    background-color: #ebebeb;
    padding-top: 120px;
    padding-left: 60px;
    margin-bottom: 100px;
}

.who__description {
    max-width: 540px;
    width: 100%;
}
.icons {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.icons__item {
    margin: 10px;
}
.icons__item a {
    font-size: 14px;
    color: #746868;
    text-align: center;
}

.white {
    color: white;
}

.red {
    color: red;
}

.features {
    padding-bottom: 60px;
    background:#171f23;
}

.features__title {
    color: #f3e7e6;
    padding: 20px;
}

.features__number {
    font-size: 48px;
    color: #f3e7e6;
}

.blog {
    padding-bottom: 100px;
}

.blog__item {
    max-width: 320px;
    margin: 0 auto;

}

.blog__pic {
    min-height: 218px;
    background: url('../img/img2.png') no-repeat center;
    position: relative;
}

.blog__pic_empty {
    
    background: url('../img/img3.png') no-repeat;
    
}

.blog__pic:hover .blog__chain {
    visibility: visible;
    cursor: pointer;
}

.blog__pic:hover .blog__eye {
    visibility: visible;
    cursor: pointer;
}

.blog__article {
    background-color: #ebebeb;
    position: relative;
    padding: 35px 30px 20px 20px;
}

.blog__date, .blog__like {
    display: inline-block;
}

.blog__like {
    margin-left: 150px;
}

.blog__chain {
    position: absolute;
    top: 85px;
    left: 115px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e67b5d;
    font-size: 25px;
    color:white;
    padding: 5px; 
    visibility: hidden;
}

.blog__eye {
    position: absolute;
    top: 85px;
    left: 170px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    font-size: 25px;
    color:#e67b5d;
    padding: 5px; 
    visibility: hidden;
}

.plan {
    padding-bottom: 90px;
    background-color: #171f23;
    color: white;
}
.plan__item {
    text-align: center;
    background-color: #1f282c;
    padding: 40px 0;
}

.plan__item:hover {
    border: 1px solid #f3724d;
    cursor: pointer;
}

.plan__item:hover span {
    color: #f3724d;
}

.plan__price {
    background-color: #0e1316;
    text-align: center;
}

.plan__money {
    font-size: 36px;
}

.form {
    text-align: center;
}

.form__input {
    border: 0;
    border-bottom: 1px solid gray;
    outline: none;
    max-width: 370px;
    width: 100%;
}

.form__btn {
    display: block;
    background-color: #f3724d;
    text-transform: uppercase;
    border: 0;
    
    margin: 60px auto;
}

.map {
    background-color: #0c1215;
}
.map__title {
    font-size: 30px;
    color: white;
    font-family: Roboto;
    font-weight: 700;
}

.map__down {
    font-size: 20px;
    color: #c96043;
}

.footer {
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: #171f23;
    text-align: center;
    color:#e1d3d3;

}

.footer-icons {
    display: block;
    margin: 0 auto;
}

.footer-icons a {
    color: #e1d3d3;
  
}

