body {
	padding: 0;
	margin: 0;
	font-size: 0;
	font-family: 'Open Sans', sans-serif;
}

div {
	box-sizing: border-box;
}

p {
	font-size: 14px;
}

header {
	background: url(../img/Picture-perfect.jpg) no-repeat center top / cover;
	width: 1800px;
	height: 940px;
}

.main-container {
	width: 1520px;
	margin-left: 285px;
}

.container {
	width: 1240px;
	height: 350px;
	margin: 0 auto;
	position: relative;
	margin-left: 300px;
	margin-top: 50px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.logo {
	margin-top: 50px;
	margin-right: 10px;
}

span {
	font-family: 'Merriweather', italic;
	color: white;
	text-align: top;
	font-size: 21px;
}

.picture_perfect {
	width: 440px;
	color: white;
	float: left;
}

h1 {
	font-size: 60px;
	font-weight: lighter;
}

p {
	font-size: 14px;
}

.iphone {
	width: 600px;
	height: 800px;
	margin-top: 250px;
	margin-right: 300px;
	padding-bottom: 0;
	float: right;
}

h2 {
	margin-top: 0px;
	font-size: 35px;
	font-weight: lighter;
}

.text {
	margin-top: 50px;
	width: 1240px;
	height: 280px;
	position: relative;
	margin-left: 300px;
}

.text1, .text2 {
	width: 590px;
}

.text1 {
	height: 270px;
	margin-top: 50px;
	float: left;
}

.text2 {
	height: 100px;
	float: right;
}

.container_design {
	width: 1500px;
	height: 600px;
	margin-top: 100px;
	margin-left: 300px;
	position: relative;
}

h3 {
	font-size: 30px;
	margin: 0;
	font-weight: normal;
}

.design_quality, .built_to_last, .our_clients, 
.perfect_pictures, .how_to, .start_smth, .sign_up {
	position: relative;
	height: 280px;
	display: inline-block;
	vertical-align: top;
	color: white;
	padding: 50px;
}

.design p {
	font-size: 12px;
}
 
a {
	font-size: 14px;
	text-decoration: none;
	color: white;
	line-height: 50px;
}

.design_quality, .built_to_last, .our_clients, 
.perfect_pictures {
	width: 400px;
}

.how_to, .start_smth {
	width: 290px;
	padding-right: 0;
}

.sign_up {
	width: 800px;
}

.design_quality {
	background-color: #f5989d; 
}

.built_to_last {
	background-color: #615f7d;
}

.our_clients {
	background: url(../img/our-clients.jpg);
}

.how_to {
	background-color: #bd8cbf;
}

.sign_up {
	background: url(../img/sign-up.jpg);
}

.perfect_pictures {
	background-color: #82ca9c;
}

.start_smth {
	background: url(../img/start.jpg);
}
.look {
	margin-left: 300px;
	min-width: 1210px;
}

h4 {
	font-size: 14px;
}
 
.block-text {
	position: relative;
}

.look-text {
	display: inline-block;
	vertical-align: top;
	width: 270px;
	height: 190px;
	margin-right: 30px;
}

.power {
	width: 1800px;
	height: 875px;
	background: url(../img/More-power.jpg) no-repeat center top / cover;
	color: white;
}
.big-title {
	margin-top: 160px;
	margin-left: 10px;
	font-size: 60px;
}

.power-text {
	width: 440px;
	margin-left: 10px;
}

.reasons {
	width: 1500px;
	height: 530px;
	background-color: #82ca9c;
	color: white;
	padding-left: 300px;
	padding-top: 120px;
}

.item {
	float: left;
	width: 370px;
	height: 150px;
	margin-right: 30px;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

.buy {
	width: 1520px;
	height: 620px;
	background-color: #f6f7fa;
	padding: 100px 200px 140px 70px;
}

.boxik {
	width: 275px;
	height: 380px;
}

.icon {
	margin-right: 10px;
	margin-top: 10px;
}

.box1, .box2 {
	width: 570px;
	height: 380px;
	padding: 40px 100px 50px 60px;
}

.box2:hover, .box1:hover {
	background-color: white;
}

.boxik, .box1, .box2 {
	float: left;
}

.rot {
	text-align: left;
	transform: rotate(-90deg);
}

.button-little {
	width: 80px;
	height: 25px;
	border-radius: 3px;
	background: #e1e1e1;
	color: white;
	font-size: 12px;
}

.button-little:hover {
	width: 110px;
	background: #bd8cbf;
	padding: 10px;
}

.button-big {
	width: 150px;
	padding: 15px 25px;
	border-radius: 3px;
	background: #82ca9c;
	color: white;
	font-size: 14px;
	margin: 20px 0;
}

footer {
	background-color: #192431;
	width: 1240px;
	min-height: 600px;
	color: white;
	font-size: 14px;
	padding: 50px 300px; 
	position: relative;
}

.wrapper {
	width: 570px;
	height: 440px;
}

.wrapper, .stay {
	display: inline-block;
	vertical-align: top;
}

h5 {
	font-size: 14px;
}

li a {
	line-height: 20px;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

.footer__item {
	width: 100px;
	display: inline-block;
	vertical-align: top;
	padding: 10px 40px 10px 30px;
}


.client-mail__field {
	width: 400px;
	height: 55px;
}
.client-mail__submit {
	width: 70px;
	height: 60px;
	background-color: #82ca9c;
}




