/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px; }

.wrapper {
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  margin: auto; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  outline: none; }

.container, .contacts {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  text-align: center; }

.header {
  background: url(../img/door.png) top/cover;
  height: 770px;
  width: 100%; }

.header__list {
  display: flex;
  justify-content: space-around; }

.header__wrapper {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 40px; }

.header__link {
  color: white;
  padding-top: 40px; }

.header__item {
  width: 75px; }

.header__logo {
  margin-top: 0;
  color: white;
  font-size: 30px;
  font-weight: bold; }

.header__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white; }

.button, .contacts__button {
  border: 1px solid white;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 20px;
  color: white;
  font-size: 18px; }

.header .button:hover, .header .contacts__button:hover {
  background-color: white;
  color: red; }

h1 {
  font-size: 50px;
  font-weight: 500;
  margin-top: 220px;
  line-height: 70px; }

h2 {
  font-weight: lighter;
  margin-bottom: 25px; }

h3 {
  font-size: 20px; }

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px 0; }

.service__list {
  padding-top: 40px;
  display: flex;
  justify-content: space-around; }

.service__item {
  width: 30%;
  text-align: center; }

.services__text {
  font-size: 16px; }

.about {
  padding: 90px 0;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center; }

.about__item {
  width: 45%; }

.about__list {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  min-height: 310px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center; }

.about__developer {
  min-height: 310px;
  text-align: center; }

.about__picture {
  width: 260px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

.about__picture_uddin {
  background: url("../img/uddin.jpg"); }

.about__picture_rubel {
  background: url("../img/rubel.jpg"); }

.about__picture_shamim {
  background: url("../img/shamim.jpg"); }

.about__picture_john {
  background: url("../img/john.jpg"); }

.about__picture:hover {
  box-shadow: inset 260px 250px rgba(149, 149, 149, 0.5); }
  .about__picture:hover .about__social {
    visibility: visible; }
  .about__picture:hover .block-social__item:hover {
    width: 25px;
    height: 25px;
    background-color: #c0301c; }

.about__developer:first-child,
.about__developer:last-child {
  position: relative; }

.about__button {
  color: white;
  width: 35px;
  height: 35px;
  font-size: 24px;
  background-color: #8b8b8b;
  position: absolute;
  line-height: 35px; }

.about__button_forward {
  left: 226px;
  bottom: 200px; }

.about__button_back {
  bottom: 200px;
  right: 225px; }

.about__button:hover {
  background-color: #c0301c; }

.about__social {
  visibility: hidden; }

.block-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0;
  padding-bottom: 30px; }

.block-social__item {
  width: 25px;
  height: 25px; }

.works, .blog {
  padding: 90px 0;
  text-align: center; }

.works__menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.list__item {
  padding: 10px 20px;
  color: black; }

.list__item_red {
  color: red; }

.works__list {
  margin-bottom: 10px;
  padding: 30px 0 70px 0;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between; }

.work__link {
  width: 100%;
  max-width: 360px;
  height: 320px;
  margin-bottom: 10px;
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .work__link .button, .work__link .contacts__button {
    visibility: hidden; }
  .work__link p {
    margin: 0;
    color: white;
    visibility: hidden; }
  .work__link h5 {
    margin: 0;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 100;
    color: white;
    visibility: hidden; }

.work__link_1 {
  background: url("../img/1.jpg") no-repeat; }

.work__link_2 {
  background: url("../img/2.jpg") no-repeat; }

.work__link_3 {
  background: url("../img/3.jpg") no-repeat; }

.work__link_4 {
  background: url("../img/4.jpg") no-repeat; }

.work__link_5 {
  background: url("../img/5.jpg") no-repeat; }

.work__link_6 {
  background: url("../img/6.jpg") no-repeat; }

.work__link_7 {
  background: url("../img/7.jpg") no-repeat; }

.work__link_8 {
  background: url("../img/8.jpg") no-repeat; }

.work__link_9 {
  background: url("../img/9.jpg") no-repeat; }

.work__link:hover {
  box-shadow: inset 360px 320px rgba(198, 100, 92, 0.5); }
  .work__link:hover .button, .work__link:hover .contacts__button {
    visibility: visible;
    margin: 10px auto;
    background-color: white;
    color: red; }
  .work__link:hover h5, .work__link:hover p {
    visibility: visible; }

.far {
  background: url(../img/getintouch.png) top/cover;
  max-height: 370px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 30px; }

.far .button, .far .contacts__button {
  margin-top: 40px; }

.far:hover {
  box-shadow: inset 1140px 470px rgba(179, 73, 78, 0.5); }

.first-post, .second-post {
  display: flex;
  margin-top: 70px;
  margin-bottom: 40px; }

.blog__date {
  width: 60px;
  height: 55px;
  border: 1px solid;
  padding: 10px;
  text-align: center; }

.first-post__article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 0 0 20px 30px;
  margin-top: -10px; }

.first-post__title {
  display: flex;
  padding-top: -10px; }

.blog__article {
  margin-left: 30px; }

.first-post__link {
  color: black; }

.first-post__article:hover h4, .first-post__article:hover a, .first-post__article:hover span {
  color: red; }

.second-post {
  margin-top: 40px; }

.clients {
  min-height: 500px;
  width: 100%;
  padding: 80px auto;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.clients__list {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-top: 90px;
  margin: 0 auto; }

.clients__item {
  max-width: 140px;
  width: 100%;
  height: 45px;
  padding: 20px; }

.sliderC {
  max-width: 780px;
  width: 100%;
  height: 150px;
  position: relative;
  text-align: center;
  margin: 0 auto; }

.sliderC q {
  font-style: italic;
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
  quotes: "\201c" "\201d"; }

.quote p {
  top: 50px;
  font-size: 16px;
  line-height: 50px; }

.sliderC > input {
  display: none; }

.sliderC > input + label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 8px;
  background: rgba(250, 250, 250, 0.8);
  border: 2px solid rgba(99, 176, 240, 0.8);
  cursor: pointer;
  z-index: 100;
  position: relative;
  margin-right: 4px;
  top: 220px; }

.sliderC > input + label:hover {
  background: rgba(221, 221, 221, 0.8); }

.sliderC > input:checked + label {
  background: rgba(192, 48, 28, 0.8); }

.sliderC > div {
  position: absolute;
  top: 50px;
  right: 0px;
  bottom: 0px;
  z-index: 0; }

.sliderC div {
  visibility: hidden;
  opacity: 0; }

.sliderC > input:checked + label + div {
  visibility: visible;
  opacity: 1; }

.contacts {
  padding-top: 70px; }

.contacts__header {
  text-align: center; }

h6 {
  margin: 0;
  font-size: 14px;
  font-family: 'Montserrat' sans-serif; }

.contacts__wrap {
  display: flex;
  justify-content: space-between;
  padding: 50px 0; }

.contacts__list {
  width: 250px;
  min-height: 310px;
  text-align: left; }

.feedback {
  max-width: 730px;
  width: 100%;
  min-height: 310px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

input:focus {
  border-color: #c0301c;
  outline: none; }

.feedback__mess {
  max-width: 700px;
  width: 100%;
  overflow: hidden; }

.feedback__item {
  max-width: 350px;
  width: 100%; }

.feedback__item input {
  max-width: 340px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 10px 15px; }

.feedback__item_mess {
  max-width: 730x;
  width: 100%;
  overflow: hidden; }

.contacts__button {
  margin-top: 20px;
  color: gray;
  background-color: white;
  border: 1px solid gray;
  font-weight: lighter;
  width: 170px;
  height: 45px;
  font-size: 14px; }

.feedback__label {
  display: block;
  margin-top: 30px;
  margin-left: 30px; }

.contacts__address::before {
  content: url(../img/address.png);
  padding-right: 10px; }

.contacts__description {
  padding-left: 20px;
  font-size: 12px; }

.contacts__hotline::before {
  content: url(../img/mobile.png);
  padding-right: 15px; }

.contacts__mail::before {
  content: url(../img/mail.png);
  padding-right: 15px; }

.footer {
  width: 100%;
  padding: 90px 0;
  background: #c0301c;
  max-height: 310px;
  text-align: center;
  color: white; }

.social {
  display: flex;
  justify-content: center;
  margin-bottom: 30px; }

.social__item {
  width: 5%; }

.social__item {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 3px;
  margin: 15px; }

.footer__text {
  margin-top: 30px; }

@media (max-width: 768px) {
  .container, .contacts {
    width: 100%; }

  .header__list {
    flex-direction: column;
    align-items: flex-start; }

  .service__list {
    width: 100%;
    flex-direction: column;
    align-items: center; }

  .service__item {
    width: 80%; }

  .about__list {
    flex-wrap: wrap; }

  .first-post, .second-post {
    flex-wrap: wrap;
    align-content: center;
    text-align: center; }

  .contacts__wrap {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; }

  .blog__image {
    margin: 0 auto; }

  .work__link {
    margin: 5px auto; }

  .clients__list {
    flex-wrap: wrap; } }
@media (max-width: 480px) {
  body {
    text-align: center; }

  .about__list {
    flex-direction: column; }

  .blog__image img {
    width: 100%; }

  .feedback__item input {
    max-width: 300px;
    width: 100%; }

  .feedback__mess {
    max-width: 650px;
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
