@import 'normalize';

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.wrapper {
    width: 100%;
   max-width: 1600px;
   display: flex;
   flex-direction: column;
   margin: auto;
  
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    text-align: center;
}

$text-wt: white;
$text-black: black;
$text-red: red;

.header {
    background: url(../img/door.png) top / cover;
    height: 770px;
    width: 100%;
}

.header__list {
    display: flex;
    justify-content: space-around;
}

.header__wrapper {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 40px;
}

.header__link {
    color: $text-wt;
    padding-top: 40px;
}

.header__item {
    width: 75px;
}

.header__logo {
    margin-top: 0;
    color: $text-wt;
    font-size: 30px;
    font-weight: bold;
}

.header__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $text-wt;
}
.button {
    // width: 150px;
    // height: 25px;
    border: 1px solid white;
    text-transform: uppercase;
    text-align: center;
    padding: 8px 20px;
    color: $text-wt;
    font-size: 18px;
}

.header .button:hover {
    background-color: white;
    color: $text-red;
}

h1 {
    font-size: 50px;
    font-weight: 500;
    margin-top: 220px;
    line-height: 70px;
}

h2 {
    font-weight: lighter;
    margin-bottom: 25px;
}

h3 {
    font-size: 20px;
}

.services {
    // max-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 90px 0;
}

.service__list {
    padding-top: 40px;
    display: flex;
    // flex-direction: row;
    justify-content: space-around;
}

.service__item {
    width: 30%;
    text-align: center;
}

.services__text {
    font-size: 16px;
}

.about {
    padding: 90px 0;
    // max-height: 850px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__item {
    width: 45%;
}

.about__list {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    min-height: 310px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

.about__developer {
    // width: 270px;
    min-height: 310px;
    text-align: center;
}

.about__picture {
    width: 260px;
    height: 250px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@each $developer in uddin, rubel, shamim, john {
    .about__picture_#{$developer} {
       background: url('../img/#{$developer}.jpg');
    }
}

.about__picture:hover {
    box-shadow: inset 260px 250px rgba(149, 149, 149, 0.5);
   
    .about__social {
        visibility: visible;
    }
    .block-social__item:hover {
        width: 25px;
        height: 25px;
        background-color: #c0301c;
    }
}

.about__developer:first-child, 
.about__developer:last-child {
    position: relative;
}
.about__button {
    color: white;
    width: 35px;
    height: 35px;
    font-size: 24px;
    background-color: #8b8b8b;
    position: absolute;
    line-height: 35px;
}

.about__button_forward {
    left: 226px;
    bottom: 200px;
}

.about__button_back {
    bottom: 200px;
    right: 225px;
}

.about__button:hover {
    background-color: #c0301c;
}

.about__social {
    visibility: hidden; 
}

.block-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
    padding-bottom: 30px;
}

.block-social__item {
    width: 25px;
    height: 25px;
}

.works {
    // min-height: 1300px;
    padding: 90px 0;
    text-align: center;
}

.works__menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.list__item {
    padding: 10px 20px;
    color: $text-black;
}

.list__item_red {
    color: $text-red;
}

.works__list {
    margin-bottom: 10px;
    padding: 30px 0 70px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.work__link {
    width: 100%;
    max-width: 360px;
    height: 320px;
    margin-bottom: 10px;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .button {
        visibility: hidden;
    }
    p { margin: 0;
        color: $text-wt;
        visibility: hidden;
    }
    h5 {
        margin: 0;
        padding-top: 10px;
        font-size: 20px;
        font-weight: 100;
        color: $text-wt;
        visibility: hidden;
    }
}

$i: 1;
@while $i < 10 {
    .work__link_#{$i} {
        background: url('../img/#{$i}.jpg') no-repeat;
        $i: $i + 1;
        
    }
}

.work__link:hover {
    box-shadow: inset 360px 320px rgba(198, 100, 92, 0.5);  
    .button {
        visibility: visible; 
        margin: 10px auto;  
        background-color: white;
        color: $text-red;
    }
    h5, p {
        visibility: visible;
    }
}

.far {
    background: url(../img/getintouch.png) top / cover;
    max-height: 370px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $text-wt;
    font-size: 30px;
}

.far .button {
    margin-top: 40px;
}

.far:hover {
    box-shadow: inset 1140px 470px rgba(179, 73, 78, 0.5)
}

.blog {
   @extend .works;
}

.first-post {
    display: flex;
    margin-top: 70px; 
    margin-bottom: 40px;
   
}

.blog__date {
    width: 60px;
    height: 55px;
    border: 1px solid;
    padding: 10px;
    text-align: center;
}

.first-post__article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 0 0 20px 30px;
    margin-top: -10px;
}

.first-post__title {
    display: flex;
    padding-top: -10px;
}

.blog__article {
    margin-left: 30px;
} 

.first-post__link {
    color: black;
}

.first-post__article:hover {
    h4, a, span {
        color: $text_red;
    }
}

.second-post {
    @extend .first-post;
    margin-top: 40px;
}

.clients {
    min-height: 500px;
    width: 100%;
    padding: 80px auto;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.clients__list {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-top: 90px;
    margin: 0 auto;
}

.clients__item {
    max-width: 140px; 
    width: 100%;
    height: 45px; 
    padding: 20px;  
}

.sliderC {
    max-width: 780px;
    width: 100%;
    height: 150px;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.sliderC q {
    font-style: italic;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    quotes: "\201c" "\201d";
}

.quote p {
    top: 50px;
    font-size: 16px;
    line-height: 50px;
}

.sliderC > input {
    display: none;
}

.sliderC > input + label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background: rgba(250, 250, 250, 0.8);
    border: 2px solid rgba(99, 176, 240, 0.8);
    cursor: pointer;

    z-index: 100;
    position: relative;

    margin-right: 4px;
    top: 220px;
}

.sliderC > input + label:hover {
    background: rgba(221, 221, 221, 0.8);
}

.sliderC > input:checked + label {
    background: rgba(192, 48, 28, 0.8);
} 

.sliderC > div {
    position: absolute;
    top: 50px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
}

.sliderC div {
    visibility: hidden;
    opacity: 0;
}

.sliderC > input:checked + label + div {
    visibility: visible;
    opacity: 1;
}

.contacts {
    @extend .container;
    padding-top: 70px;
}

.contacts__header {
    text-align: center;
}

h6 {
    margin: 0;
    font-size: 14px;
    font-family: 'Montserrat' sans-serif;
}

.contacts__wrap {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.contacts__list {
    width: 250px;
    min-height: 310px;
    text-align: left;
}

.feedback {
    max-width: 730px;
    width: 100%;
    min-height: 310px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

input:focus {
    border-color: #c0301c;
    outline: none;
}

.feedback__mess {
    max-width: 700px;
    width: 100%;
    overflow: hidden;
}

.feedback__item {
    max-width: 350px;
    width: 100%;
}

.feedback__item input {
    max-width: 340px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding: 10px 15px;
}

.feedback__item_mess {
    max-width: 730x;
    width: 100%;
    overflow: hidden;
    
}

.contacts__button{
    @extend .button;
    margin-top: 20px;
    color: gray; 
    background-color: $text-wt;
    border: 1px solid gray;
    font-weight: lighter;
    width: 170px;
    height: 45px;
    font-size: 14px;
}

.feedback__label {
    display: block;
    margin-top: 30px;
    margin-left: 30px;
}

.contacts__address::before {
    content: url(../img/address.png);
    padding-right: 10px;
}

.contacts__description {
    padding-left: 20px;
    font-size: 12px;
}

.contacts__hotline::before {
    content: url(../img/mobile.png);
    padding-right: 15px;
}

.contacts__mail::before {
    content: url(../img/mail.png);
    padding-right: 15px;
}

.footer {
    width: 100%;
    padding: 90px 0;
    background: #c0301c;
    max-height: 310px;
    text-align: center;
    color: $text-wt;
}

.social {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.social__item{
    width: 5%;
}

.social__item {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 3px;
    margin: 15px;
}

.footer__text {
    margin-top: 30px;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
  .header__list {
      flex-direction: column; 
      align-items: flex-start;
  }
  .service__list {
      width: 100%;
      flex-direction: column;
      align-items: center;
  }

  .service__item {
      width: 80%;
      
  }

  .about__list {
    flex-wrap: wrap;
}
   .first-post {
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
}

    .contacts__wrap {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .blog__image {
        margin: 0 auto;
    }
    .work__link {
        margin: 5px auto;
    }

   
    .clients__list {
        flex-wrap: wrap;
    }
}

@media (max-width: 480px) {
    body {
        text-align: center;
    }
    .about__list {
        flex-direction: column;
    }
.blog__image img {
  width: 100%;
    }

    .feedback__item input {
        max-width: 300px;
        width: 100%;
    }

    .feedback__mess {
        max-width: 650px;
        width: 100%;
    }
}

