@import 'normalize';

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    cursor: pointer;
}

$colorStart: #9577a7;
$colorFeatures: #45b782;
$colorJoinUs: #6087b5;
$textWhite: white;
$colorGirls: #f4f4f4;
$colorFooter: #212933;

h1 {
    font-size: 50px;
    padding-top: 130px;
    padding-bottom: 90px;
}

h2 {
    padding-bottom: 60px;
}

h3 {
    font-size: 30px;
}




.container {
    margin: 0 auto;
    max-width: 970px;
    width: 100%;
}

.header {
    background: url(../img/background.jpg) no-repeat center/cover;
    min-height: 680px;
    color: white;
    padding-top: 20px;
    li {
        display: inline-block;
    }
    a {text-decoration: none; color: $textWhite;}
    a:hover {text-decoration: underline;}
}

.header__logo {
    font-size: 27px;
}

.header__item {
    padding: 10px 25px;
    font-size: 12px;
}

.header__btn {
    padding: 10px 60px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    background-color: #7ca5d9;
}

.header__button_link {
    text-decoration: none;
}    
.header__button_link:hover {
        text-decoration: none;
        cursor: pointer;
    }



.start {
    background: $colorStart;
    padding: 40px 0;
    color: $textWhite;
    a:hover {
       cursor: pointer; 
    }
}
.start__text {
    padding: 25px;
}

.start__btn {
    @extend .header__btn;
    padding: 10px 20px;
    background-color: $colorStart;
    border: 1px solid $textWhite;
}

.start__btn:hover {
    text-decoration: none;
}
.whatwedo {
    padding-top: 110px;
    background: url(../img/whatdo.png) no-repeat right center;
   height: 100%;
}

.whatwedo__btn {
    border-radius: 20px;
    background-color: white;
    color: black;
    border: 1px solid blue;
    margin: 65px 0;
}

.features {
    background-color: $colorFeatures;
    color: $textWhite;
    padding: 90px 60px;

    .features__item {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 250px;
        width: 100%;
        max-height: 330px;
        height: 100%;
        font-size: 13px;
        text-align: center;
        padding: 60px 15px;
        a {
            color: $textWhite;
            text-decoration: none;
        }
         i {
            font-size: 100px;
            padding-bottom: 35px;
        }

    }
    .features__item:hover {
        border: 2px $textWhite dashed;
        border-radius: 5%;
        cursor: pointer;
    }
}

.girls {
    max-height: 500px;
    height: 100%;
    background-color: $colorGirls;
    
    .container {
        position: relative;
       .girls__image {
            padding: 150px 120px 0 185px;
            margin: 0 auto;
            text-align: center;
        }
        .girls__iphone {
            position: absolute;
            right: 210px;
            bottom: -25px;
        }
    }
   
}

.join {
    width: 100%;
    padding: 170px 55px 90px 35px;
    background-color: $colorJoinUs;
    color: $textWhite;
    .join__title {
        justify-content: center;
        padding-bottom: 70px;
    }
    .join__item {
        text-align: center;
    }
}

.whatsay {
    background-color: $textWhite;
    padding: 70px 35px;
}
     

.whatsay__title {
    padding-bottom: 50px;
}



.footer {
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: $colorFooter;
    color: $textWhite;
    font-size: 12px;

    li {
        display: inline-block;
        font-size: 11px;
        padding-right: 10px;
        padding-bottom: 40px;
    }

    a {
        color: $textWhite;
        text-decoration: none;
    }
}


